/* Mobile styles and defaults */
.resources[data-block-status="loaded"] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.resources.list[data-block-status="loaded"] {
    margin: 20px 0;
    max-height: 340px;
    overflow-y: auto;
    border-top: 1px solid #ed1c24;
}

.resources:not(.list) a {
    font-size: .75rem;
    font-weight: 600;
    line-height: 1;
    padding: 10px 0;
}

.resources.list a:hover {
    text-decoration: none;
}

.resources.list .link-container {
    border-bottom: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
}

.resources .article-card {
    margin: 20px;
}

.resources.list .article-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px 0 0;
    gap: 15px;
}

.resources .article-card .description {
    display: none;
}

.resources.list .article-card .description {
    display: unset;
    grid-column: 2;
}

.resources:not(.list) {
    background-color: var(--main-background-color);
    margin-top: 20px;
}

/* Tablet styles */
@media only screen and (min-width: 600px) {
    .resources[data-block-status="loaded"]:not(.list) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Desktop styles */
@media only screen and (min-width: 900px) {
    /* Desktop styles */
}
