/* block specific CSS goes here */

/* Hero block styles */

main .section.hero-container {
  padding: 65px 0;
}

main .section.hero-container h1,
main .section.hero-container h2 {
  padding: 0 20px;
  color: #fff;
}

main .section.hero-container h1 {
  font-size: 32px;
  line-height: 1.2;
}

main .section.hero-container h2 {
  line-height: 1.2;
  font-size: 18px;
}

main .section.hero-container h1 a {
  color: #fff;
  text-decoration: none;
}

main .section.hero-container h1 a:hover {
  color: #00aeef;
}

main .section .hero-wrapper {
  margin: 0;
  max-width: none;
}

main .section .hero {
  max-width: 1140px;
  margin: auto;
}

main .section .hero-container {
  padding: 0 15px;
}

.hero img {
  display: none;
}

@media (max-width: 900px) {
  main .section.hero-container {
    background-image: url("/images/hero-banner.jpeg");
    background-size: cover;
    background-position: center center;
  }
}

@media (min-width: 900px) {
  main .section.hero-container h1 {
    font-size: 48px;
  }

  .hero img {
    display: block;
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
    z-index: -1;
  }

  main .section .hero-container {
    background-image: none;
  }
}
