.newslist.block .newslist-container {
  background: #fff;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #707070;
}

.newslist.block .newslist-container .newslist-item {
  margin-top: 20px;
}

.newslist.block .newslist-container a {
  color: #000;
  font-size: 14px;
}

.newslist.block .newslist-container .resultslist-item a {
  font-size: 12px;
}

.newslist.block .newslist-container .newslist-item a:hover,
.newslist.block .newslist-container .resultslist-item a:hover,
.newslist.block .newslist-container .search-resultslist-item a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.newslist.block .newslist-container .newslist-item-photo img {
  padding: 5px 0 0;
  box-shadow: 0 1px 3px #e1e3ef;
}

.newslist.block .newslist-container .search-resultslist-item .search-resultslist-item-header a {
  text-decoration: underline;
  font-weight: 600;
}

.newslist.block .newslist-container .resultslist-item .resultslist-item-header a {
  font-size: 1.15rem;
}

.newslist.block .newslist-container .newslist-item-content .newslist-item-header {
  line-height: 1.25;
}

.newslist.block .newslist-container .newslist-item-content .newslist-item-header a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.newslist.block .newslist-container .search-resultslist-item .search-resultslist-item-details a {
  font-size: 12px;
}

.newslist.block .newslist-container .newslist-item-content .newslist-item-header a:hover,
.newslist.block .newslist-container .resultslist-item .resultslist-item-header a:hover {
  color: var(--link-hover-color);
}

.newslist.block .newslist-container .newslist-item-content {
  color: #707070;
  font-size: 14px;
}

.newslist.block .newslist-container .newslist-item-content .newslist-item-subheader {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.newslist.block .newslist-container .newslist-item-content .newslist-item-main p {
  line-height: 18px;
  margin: 5px 0;
}

.newslist.block .newslist-container .newslist-item-content .newslist-item-footer {
  color: #000;
  font-size: 14px;
  margin-bottom: 1rem;
}

.newslist.block .newslist-container h2 {
  color: #000;
  font-size: 18px;
  padding: 20px 20px 30px;
  margin: 0;
  text-transform: uppercase;
}

.newslist.block .newslist-container .search-header-container h2 {
  color: #000;
  font-size: 16px;
  padding: 20px 0;
  margin: 0 0 5px;
  text-transform: none;
}

.newslist.block .newslist-container .search-header-container label {
  line-height: 21px;
}

.newslist.block .newslist-container .resultslist-item {
  padding-left: 20px;
}

.newslist.block .newslist-container .resultslist-item .resultslist-item-header {
  text-decoration: underline;
  padding-bottom: 15px;
  font-weight: 600;
  line-height: 1.5;
}

.newslist.block .newslist-container .resultslist-item .resultslist-item-content {
  font-size: 14px;
  line-height: 16px;
}

.newslist.block .newslist-container .resultslist-item .resultslist-item-details {
  font-size: 12px;
  margin-bottom: 16px;
  line-height: 21px;
}

.newslist.block .newslist-container .search-resultslist-item {
  padding-left: 30px;
  margin-bottom: 28px;
}

.newslist.block .newslist-container .search-resultslist-item .search-resultslist-item-details {
  font-size: 12px;
  margin-bottom: 16px;
  line-height: 1.5;
  padding-left: 1em;
}

.newslist.block .newslist-container .search-resultslist-item .search-resultslist-item-content {
  line-height: 21px;
  padding-left: 1em;
  margin-bottom: 1rem;
}

.newslist.block .newslist-container .pagination {
  text-align: center;
  color: #5E5E5E;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .newslist.block .newslist-container .newslist-item {
    display: block;
    border-bottom: 1px dotted #ccc;
  }
}

@media only screen and (min-width: 600px) {
  .newslist.block .newslist-container .newslist-item {
    display: flex;
  }

  .newslist.block .newslist-container .newslist-item-photo {
    width: 30%;
    margin-right: 10px;
  }

  .newslist.block .newslist-container .newslist-item-content {
    width: 70%;
  }
}
