/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #000;
  --link-hover-color: #ed1c24;
  --background-color: #fff;
  --main-background-color: #ecebeb;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --header-background-color: #000;
  --text-color: #212529;

  /* fonts */
  --body-font-family: apple-system, "system-ui", arial, "Segoe UI", roboto,
    "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono",
    monospace;

  /* body sizes */
  --body-font-size-default: 14px;
  --body-font-size-l: 22px;
  --body-font-size-m: 18px;
  --body-font-size-s: var(--body-font-size-default);

  /* heading sizes */
  --heading-font-size-xl: 48px;
  --heading-font-size-l: 20px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 15px;

  /* nav height */
  --nav-height: 75px;
  --mobile-nav-height: 53px;
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 20px;
    --heading-font-size-m: 16px;
    --heading-font-size-s: 15px;
  }
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-default);
  font-weight: 400;
  color: var(--text-color);
  text-align: left;
  background-color: var(--background-color);
}

body.appear {
  display: unset;
}

header {
  height: var(--mobile-nav-height);
}

@media (min-width: 900px) {
  header {
    height: var(--nav-height);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xl);
}

h2 {
  font-size: var(--heading-font-size-l);
}

h3 {
  font-size: var(--heading-font-size-m);
}

h4 {
  font-size: var(--heading-font-size-s);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main input {
  font-size: 14px;
  line-height: 21px;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 1px 2px;
  box-sizing: border-box;
  color: var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 0 16px;
}

main .section.content-container > div:first-child {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 20px;
  border: 1px solid #707070;
  height: fit-content;
}

@media (min-width: 900px) {
  .section>div {
    max-width: 1200px;
    margin: auto;
  }

  main .section.content-container {
    background-color: var(--main-background-color);
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  main .section.content-container > div:first-child {
    width: 66.6666%;
    margin: 20px 0 20px 20px;
    padding: 20px;
  }

  main .section.content-container > div:nth-child(2) {
    width: 33.3333%;
    margin: unset;
    margin-top: 20px;
    padding: 0 20px 20px;
  }
}

/* section metadata */
/* stylelint-disable-next-line no-descending-specificity */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

p.article-key-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #d7d7d7;
  padding-top: 50px;
}

.header-list {
  grid-column: 1 / 3;
  color: #555;
  font-size: 15px;
  font-style: italic;
  border-top: 1px solid #d7d7d7;
}

p.article-key-container picture {
  grid-column: 1 / 1;
}

p.article-key-container .article-preface {
  grid-column: 2 / 2;
  padding-top: 50px;
  padding-left: 25px;
}

p.article-key-container .article-key-list{
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
  margin-top: 5px;
}

p.article-key-container .article-key-item {
  display: block;
  margin-bottom: 3px;
}

p.article-key-container .article-key-title {
  color: #555;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 400;
  padding-left: 40px;
}

/* page title */

main .page-title {
  max-width: 1140px;
  margin: auto;
  padding: 5px 5px 20px 0;
}

main .page-title h4 {
  color: #000;
  font-size: 18px;
  padding: 20px 20px 0;
  margin: 0;
}

main .page-title h4 a {
  text-decoration: underline;
}

/* body > main > div.section.content-container div:first-child .default-content-wrapper {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 0 20px 20px;
  border: 1px solid #707070;
} */

main .default-content-wrapper h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 5px;
}

main .default-content-wrapper h3 {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

/* Ad styles */
div.top-ad {
  max-width: 1280px;
  width: 100%;
  height: 120px;
  padding: 0;
  margin: 0 auto;
  background-color: #e6e6e6;
  text-align: center;
}

div.aside-ad {
  width: 100%;
  max-width: 360px;
  height: 320px;
  padding: 0;
  margin: 0 auto;
  background-color: #e6e6e6;
  text-align: center;
}

div.top-ad .ad-title,
div.aside-ad .ad-title  {
  font-family: inherit; 
  color: #333;
  font-size: .60rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

body noscript.gtm-iframe {
  height: 0;
  width: 0;
  display: none;
  visibility: hidden;
}

