/* info graphic styles */

.aside {
    max-width: 350px;
}

.aside-block-infographic {
    border-radius: 5px;
    margin: 0 20px 30px 0;
    padding: 20px;
    border: 1px solid #707070;
}

.aside-block-infographic-video-container {
    max-width: 560px;
}

.vjs-mouse.vjs-playlist {
    background-color: transparent;
    padding: 3px 3px 5px 0;
}

.vjs-mouse.vjs-playlist .vjs-playlist-item {
    margin-bottom: 6px;
    background-color: transparent;
    padding-right: 4px;
}

.vjs-playlist .vjs-playlist-name {
    line-height: 15px;
}

.vjs-mouse.vjs-playlist .vjs-playlist-name {
    color: #676767;
    font-size: 14px;
    font-weight: bold;
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
}

.vjs-playlist .vjs-playlist-thumbnail {
    margin-right: 8px;
    width: 120px;
    height: auto;
}

.vjs-mouse.vjs-playlist .vjs-playlist-item:hover {
    background-color: #ddd;
}

.vjs-playlist {
    margin-left: 0;
    max-width: 300px;
    margin-top: 2px;
    height: 400px;
    overflow-y: scroll;
}

.vjs-playlist .vjs-playlist-title-container {
    position: absolute;
    top: 0;
    margin-left: 114px;
    text-shadow: none;
    max-width: 180px;
}

.vjs-up-next-text {
    position: absolute;
    top: 100px;
}

.vjs-playlist img {
    padding: 0;
    min-height: 100%;
}

.vjs-playlist .vjs-playlist-duration {
    top: 0;
    left: 0;
    font-size: small;
}

.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3 {
    width: 100%;
    height: 0;
    border: 4px double #b7b7b7;
}

/* stylelint-disable property-no-vendor-prefix, color-function-notation */
.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    border-radius: 50%;
    font-size: 3.5em;
    background-color: rgba(0, 0, 0, 45%);
    color: #fff;
    -webkit-transition: border-color .4s, outline .4s, background-color .4s;
    -moz-transition: border-color .4s, outline .4s, background-color .4s;
    -ms-transition: border-color .4s, outline .4s, background-color .4s;
    -o-transition: border-color .4s, outline .4s, background-color .4s;
    transition: border-color .4s, outline .4s, background-color .4s;
}

/* podcast playlist styles */

.aside-header {
    padding: 0 20px;
}

.aside-title {
    padding: 0 0 20px;
}

.aside-block-sponsor {
    border-top: 2px solid #064B75;
    padding: 20px 0 0;
    margin-right: 20px;
}

/* Linked in styles */

.aside-linkedin img {
    width: 33%;
}

/* twitter handle styles */

.aside-twitter a img {
    margin-right: 5px;
}

.aside-twitter a {
    color: #0860A8;
    font-size: 12px;
    font-weight: 600;
    padding: 0 20px 15px;
    display: block;
}
